{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<section class="home">
    
<form >
<h1 class="h1form">Enregistrez-vous</h1>
    {{ form_start(registrationForm) }}
     <label for="inputEmail">Votre email</label>
        {{ form_row(registrationForm.email) }}
        <label for="inputEmail">Votre mot de passe</label>
        {{ form_row(registrationForm.plainPassword) }}
        {# {{ form_row(registrationForm.agreeTerms) }} #}

        <button type="submit" class="btn btn-form">Soumettre</button>
         <p> Deja inscrit ?  <a href="{{ path('app_login')}}"> Connectez-vous !!!</a> </p>
    {{ form_end(registrationForm) }}
</form>
    </section>
{% endblock %}
