{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<section
		class="container-form">
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
      <label for="inputEmail"> votre Email</label>
        {{ form_row(registrationForm.email) }}
          <label for="inputEmail"> votre Mot de Passe</label>
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-form">Register</button>
    {{ form_end(registrationForm) }}

</section>
{% endblock %}
