{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
<section
		class="container-form">
    <h1>Listes des Produit</h1>

    <table id="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>description</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                 {# <td>{{ produit.is_Valid }}</td> #}
                <td>
                    <a href="{{ path('app_categorie_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">pas de categorie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_new') }}">creer une nouvelle categorie</a>
   <a href="{{ path('app_admin') }}"> dashboard</a>
    </section>
{% endblock %}
