{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
<section
		class="container-form">
    <h1>Categorie index</h1>

    <table id="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.libelle }}</td>
                <td>
                    <a href="{{ path('app_categorie_show', {'id': categorie.id}) }}">show</a>
                    <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">pas de categorie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_new') }}">creer une nouvelle categorie</a>
   <a href="{{ path('app_gestion') }}"> voir le dashboard</a>
    </section>
{% endblock %}
